.delimiter-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 6px;
    width: 100%;

}

.delimiter-element {
    border-color: #8a8a8a;
}

#root {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.self-left-text {
    text-align: end;
}

.self-right-text {
    text-align: start;
}

.self-center-text {
    text-align: center;
}
.self-justify-text {
    text-align: justify;
}