.use-underline a {
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.15em;

    /*display: inline-block;*/
    padding: 15px 20px;
    position: relative;
}

.use-underline a:after {
    bottom: 0;
    content: "";
    display: block;
    height: 1px;
    left: 50%;
    position: absolute;
    background: #8a8a8a;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}

.use-underline a:hover:after {
    width: 100%;
    left: 0;
}